body {
    font-family: Roboto, sans-serif;
    background-color: #ffffff;
    color: #757575;
    letter-spacing: 0.03em;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /* outline: 2px solid tomato; */
}

//   страница портфолио  //
.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}
